html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}
body {
  padding-top: 120px;
  margin: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  }
section {
  justify-content: center;
  text-align: center;
}
.status {
  font-size: 20px;
}
section.gameboard {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(6, 10vmin);
    grid-template-columns: repeat(7, 10vmin);
    gap: 0vmin;
}
div {
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
}
.puckHolder:hover {
  background-color: slategrey;
}