html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}
body {
  padding-top: 8vh;
  margin: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
}
h1 {
  text-align: center;
  }
section, 
footer {
  justify-content: center;
  text-align: center;
}
.status {
  font-size: 20px;
  height: 75px;
}
section.gameboard {
    margin: auto;
    margin-top: 3vh;
    display: grid;
    grid-template-rows: repeat(6, 9vmin);
    grid-template-columns: repeat(7, 9vmin);
    gap: 1vmin;
    background-color: #034f84;
    border: 1px solid black ;
    padding: 15px;
    margin-bottom: 3vh;
}
div {
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.puckHolder{
  background-color: white;
}
.puckHolder:hover {
  background-color: slategrey;
}
.red {
  background-color: #c94c4c;
}
.yellow {
  background-color: #ffef96;
}
.hiddenPuck {
  display: none ;
}
body.dark-theme {
  background-color: #313236;
}
body.dark-theme h1{
  color: white;
}
body.dark-theme p {
  color: white;
}
body.dark-theme footer {
  color: white;
}
